[submodule "tools/wow-dbc-tool"]
	path = tools/wow-dbc-tool
	url = https://github.com/domonic18/wow-dbc-tool.git
[submodule "third-party/WoWDBDefs"]
	path = third-party/WoWDBDefs
	url = https://github.com/wowdev/WoWDBDefs.git
